@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0b0918;
}

.cards-container {
    flex-wrap: wrap;
    display: grid;
}

.card-info li {
    text-align: center;
    padding: 2px 5px;
}

.container {
    width: 1424px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.imagem-modal {
    width: 100px;
    height: 100px;
}

.cabecalho {
    background-color: rgb(134, 99, 1);
    height: 60px;
    text-align: center;
}